* {
  margin: 0px;
  padding: 0px;
}

.header-container {
  background-color: rgb(87, 87, 87);
  position: relative;
  text-align: center;
  width: 100%;
  border: 5px solid rgb(48, 48, 48);
  padding: 5px;
}

.main-container {
  background-color: rgb(87, 87, 87);
  position: relative;
  width: 100%;
  height: 100vh;
}
.info-container {
  background-color: rgb(87, 87, 87);
  position: absolute;
  text-align: center;
  float: left;
  width: 70%;
  height: 30vh;
  top: -5px;
  border-bottom: 5px solid rgb(63, 63, 63);
  border-top: 5px solid rgb(63, 63, 63);
}
.cheatsheet-container {
  background-color: rgb(87, 87, 87);
  position: absolute;
  text-align: center;
  float: left;
  width: 30%;
  height: 30vh;
  top: -5px;
  left: 70%;
  border: 5px solid rgb(87, 87, 87);
}

.questions-container {
  background-color: rgb(87, 87, 87);
  position: absolute;
  text-align: center;
  float: left;
  width: 100%;
  height: 30vh;
  top: 31%;
}

.blue-box {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: blue;
  left: 45%;
}
/* */

.Remi {
  color: aqua;
}

.William {
  color: green;
}

.box1 {
  height: 250px;
  width: 250px;
  border: 2px solid;
  background-color: aqua;
}
.box2 {
  height: 250px;
  width: 250px;
  border: 2px solid;
  background-color: red;
}
.box3 {
  height: 250px;
  width: 250px;
  border: 2px solid;
  background-color: purple;
}
.image {
  height: 200px;
  width: 450px;
}
body{
  background-image: url("https://cdn.pixabay.com/photo/2021/07/18/13/11/wreath-6475469_960_720.png") 
} 